html {
  box-sizing: border-box;
  color: #000;
  font-family: 'Dosis', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*h1 {
  background-image: url("../images/logo.svg"), url("../images/logo.svg"), url("../images/subtle_white_mini_waves.jpg");
  background-size: .8em auto, .8em auto;
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  color: #512200;
  font-size: 2em;
}

header {
  margin: 0;
  background-image: url ("../images/subtle_white_mini_waves.jpg")
}
*/

header {
  margin: 0;
  background-image: url("../images/subtle_white_mini_waves.png");
}

h1 {
  background-image: url("../images/logo.svg"),url("../images/logo.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  background-size: .8em auto, .8em auto;
  width: 95%;
  margin: 0 auto;
  color: #512200;
  font-size: 3em;
  text-align: center;
}

nav {
  display: block;
  margin: 0;
  width: 100%;}

nav ul {
  overflow: hidden;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  text-align: left;
  float: left;
  padding: .5em;
  box-sizing: border-box;
  display: inline;
  margin: 0;
  width: 25%;
  background-color: rgba(81, 34, 0, 0.5);
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav li:hover {
  background-color: rgba(81, 34, 0, 1);
}

.banner {
  background-image: url("../images/rocks.jpg")
}

.banner h2 {
  margin: 0;
  padding-top: 10em;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 1em;
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.left1 {
  width: 50%;
  padding: 0;
}

.right1 {
  width: 50%;
  padding: 0;
  float: left;
}

.image {
  margin: 0;
  padding: 0;
  position: relative;
}

.btn-right {
/*  display: inline-block;
  position: absolute;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  padding: 1.5em, 1.5em;
  text-decoration: none;
  font-size: 2em;
  font-weight: 200;
  color: #fff;
  background-color: #6FC000;
  border-radius: 15px;
  background-image: linear-gradient(to bottom, #6FC000, #388200);
  right: 25%;
  bottom: 20px;*/
}

.btn-left {

  /*
  display: inline-block;
  position: absolute;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  padding: 1.5em, 1.5em;
  text-decoration: none;
  font-size: 2em;
  font-weight: 200;
  color: #fff;
  background-color: #6FC000;
  border-radius: 15px;
  background-image: linear-gradient(to bottom, #6FC000, #388200);
  right: 75%;
  bottom: 20px;*/
}


body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: rgba(81, 34, 0, 0.5);
  clear: both;
}

.beetle {
  width: 40px;
  margin: 1em;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

main {
  margin: 0;
  padding: 0;
}
